<footer class="footer-distributed">

			<div class="footer-left">

				<img style="width:200px;" alt="PraDé" class="app-angular-logo" src="assets/image/thumbnail_LogoPNG-01.jpg">
				<p class="footer-links">
					<a href="/">HOME</a>
					·
					<a href="/#/offers">OFFERS</a>
					·
					<a href="/#/faq">FAQ</a>
					·
					<a (click)="openContactUsModal()">CONTACT</a>
				</p>

				<p class="footer-company-name">PraDé &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>PraDé Jewels</span> Chennai, India</p>
				</div>

				

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@prade.in">support@prade.in</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					Unique and Inspiring jewellery.<br/>
					CEO: 	   <a href="mailto:deepthi@prade.in">Deepthi Muthusamy</a><br/>
					Marketing: <a href="sobhana@prade.in">Sobhana</a>

				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/PraDeJewels/"><i class="fa fa-facebook"></i></a>
					<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
					<a href="https://www.instagram.com/pradejewels/"><i class="fa fa-instagram"></i></a>
					

				</div>
				<div><p>Made with <i class="fa fa-heart"></i></p></div>

			</div>

			

		</footer>