<footer class="footer-distributed">

			<div class="footer-left">

				<img style="width:200px;" alt="PraDé" class="app-angular-logo" src="assets/image/Capture.PNG">
				<p class="footer-links">
					<a href="#">HOME</a>
					·
					<a href="#">OFFERS</a>
					·
					<a href="#">FAQ</a>
					·
					<a href="#">CONTACT</a>
				</p>

				<p class="footer-company-name">PraDé &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>PraDé Jewels</span> Chennai, India</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 996.692.2078</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@prade.co.in">support@prade.co.in</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.

				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/PraDeJewels/"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					

				</div>
				<div><p>Made with <i class="fa fa-heart"></i></p></div>

			</div>

			

		</footer>