<p style="margin: 0px auto; padding: 0px; color: rgba(255, 255, 255, 0.541176); max-width: 356px;font-size: 50px;"><!-- react-text: 103 -->
  <a href="#" style="color: rgba(255, 255, 255, 0.870588);">PraDè</a>.
  <!-- /react-text -->
  
</p>

<div class="fb-page" data-href="https://www.facebook.com/PradeJewels" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/PradeJewels" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PradeJewels">PraDé</a></blockquote></div>