<div id="main">
  <div id="contactDetails">
    <p>Feel free to contact us at</p>
    <i class="fa fa-envelope-o fa-fw"></i>
    <h6>contact@prade.co.in</h6>
    <h5>Address</h5>
    <h4>PraDé Jewels</h4>
    <h6>Chennai</h6>
  </div>
  <div id="contactForm">
    <div id="contact">
      <p>Please enter your details below. We will reach you shortly.</p>
      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #contactUsForm="ngForm">
      <md-input-container>
        <input mdInput required placeholder="Email/Phone number" formControlName="email">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Message" formControlName="message"></textarea>
      </md-input-container>
      </form>
      <md-dialog-actions>
      <button type="button" (click)="submit()" md-raised-button color="primary">Contact me</button>
      <button type="button" (click)="closeModal()" md-raised-button color="primary">No, thanks</button>
    </md-dialog-actions>
    </div>
    
  </div>
</div>