
<form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #productForm="ngForm">
  <div class="content" fxLayout="row" fxLayoutAlign="center none">
    <md-card style="margin: 0px 50px 0px 0px;min-width:350px;">

      <md-card-title>
        <h2>Basic Properties</h2>
      </md-card-title>

      <md-card-content>

        
        <md-input-container>
              <input mdInput formControlName="productname" required placeholder="Product Name" [(ngModel)] = "product.name">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="description" required placeholder="Description">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="category" required placeholder="Category">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="image" required placeholder="Image">
            </md-input-container>
            <div flex>
              <md-select formControlName="type" placeholder="Type">
                  <md-option *ngFor="let type of product.type" [value]="type">{{type}}</md-option>
              </md-select>
            </div>
            <md-input-container>
              <input type="number" mdInput formControlName="size" placeholder="Size">
            </md-input-container>
            <md-input-container>
              <input type="number" mdInput formControlName="height" placeholder="Height">
            </md-input-container>
          
      </md-card-content>
    </md-card>
    <br><br><br><br>
    <md-card style="min-width:350px;">
      <md-card-title>
        <h2>Additional Properties</h2>
      </md-card-title>

      <md-card-content>
            <md-input-container>
              <input mdInput formControlName="metalType" placeholder="Metal Type">
            </md-input-container>
            <div flex style="text-align: left;margin: 30px 0 30px 0;">
            <label>Gem</label>
            <md-radio-group formControlName="gem">
              <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
              <md-radio-button value="false"> No </md-radio-button>
            </md-radio-group>
            </div>
            <md-input-container>
              <input type="number" mdInput formControlName="weight" placeholder="Weight">
            </md-input-container>

            <md-input-container>
              <input type="number" mdInput formControlName="sellingPrice" placeholder="MRP">
            </md-input-container>
            <md-input-container>
              <input type="number" mdInput formControlName="actualPrice" placeholder="Actual Price">
            </md-input-container>
            <md-input-container>
              <input type="number" mdInput formControlName="quantity" required placeholder="Quantity">
            </md-input-container>
            <div flex style="text-align: left;margin: 30px 0 30px 0;">
            <label>Sold Out</label>
            <md-radio-group formControlName="soldOut">
              <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
              <md-radio-button value="false"> No </md-radio-button>
            </md-radio-group>
            </div>
            <div flex style="text-align: left;margin: 30px 0 30px 0;">
            <label>To restock</label>
            <md-radio-group formControlName="toRestock">
              <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
              <md-radio-button value="false"> No </md-radio-button>
            </md-radio-group>
            </div>
            
        
      </md-card-content>

    </md-card>
  </div>
  <md-card style="margin-top:15px;margin-left:37%" fxLayoutAlign="center none">
    <md-card-content>
  <button type="submit" [disabled]="!productForm.form.valid" md-raised-button color="primary">Create</button>
          
          
        

        <md-spinner *ngIf="submitted && !(errorDiagnostic || successMessage)" mode="indeterminate"></md-spinner>

        <p class="error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</p>
        <div *ngIf="successMessage">
        <p class="success">{{successMessage}}</p><a href="/">Continue</a></div>
    </md-card-content>
  </md-card>
</form>


