<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;HOME
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('silver')">
                <span><i class="fa fa-plus"></i>&nbsp; SILVER</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'silver'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>Earrings</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Rings</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Bangles</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Others</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('afSilver')">
                <span><i class="fa fa-plus"></i>&nbsp; AFGHANI SILVER</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'afSilver'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>Earrings</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Rings</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Bangles</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Others</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('aSilver')">
                <span><i class="fa fa-plus"></i>&nbsp; ANTIQUE SILVER</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'aSilver'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>Earrings</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Rings</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Bangles</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Others</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-pencil"></i>&nbsp;BLOG
        </a>
        <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-envelope"></i>&nbsp;CONTACT US
        </a>
    </ul>
</nav>
