:host {
  position: relative;
  z-index: 10;
  color: #fff;
}

.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .right {
    margin-left: auto;
    float: right;
  }
}

.app-navbar span {
  text-transform: uppercase !important;
}

.app-angular-logo {
  margin-left:43%;
  width:220px;
  height:85px;
}

.greeting-button {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .greeting-button {
    display: none;
  }
}


