<div class="header">
<md-toolbar color="primary" class="app-navbar">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
  </nav>
<div class="right">
  <a href="https://www.facebook.com/PraDeJewels/"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
    <button *ngIf="!hasSignedIn()" routerLink="/signup" md-button md-ripple>
      <span>Register</span>
    </button>
    <button *ngIf="!hasSignedIn()" routerLink="/login" md-button md-ripple>
      <span>Login</span>
    </button>
    <button class="greeting-button" *ngIf="hasSignedIn()" md-button md-ripple>
      <span>Hello, {{userName()}}</span>
    </button>
    <button *ngIf="hasSignedIn()" (click)="logout()" md-button md-ripple>
      <span>Logout</span>
    </button>
  </div>
</md-toolbar>

<md-toolbar color="primary" class="app-navbar">
    <img alt="PraDé" class="app-angular-logo" routerLink="/" src="assets/image/imageedit_2_3864744953.png">
</md-toolbar>


<md-toolbar color="primary" class="app-navbar">
  
<div class="left" style="margin-left:25%;" *ngIf="isAdmin()">
    <button  routerLink="/admin" md-button md-ripple>
      <span>HOME</span>
    </button>
    <button  routerLink="/admin/product" md-button md-ripple>
      <span>CREATE PRODUCT</span>
    </button>
    <button  routerLink="/admin/search" md-button md-ripple>
      <span>UPDATE PRODUCT</span>
    </button>
    <button  routerLink="/admin/search" md-button md-ripple>
      <span>SEARCH PRODUCTS</span>
    </button>
    <button (click)="exportProducts()" md-button md-ripple>
      <span>EXPORT PRODUCTS</span>
    </button>
    
  </div>

  
</md-toolbar>

</div>