:host {
  z-index: 10;
  color: #fff;
  width: 100%; 
  margin-top: -60px;
}

.app-navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  background-color: #292c2f;
  .right {
    margin-left: auto;
    float: right;
    height: 10px;
  }
}

.app-navbar span {
  text-transform: uppercase !important;
}

.app-angular-logo {
  width:250px;
  margin-top: 50px;
}

.greeting-button {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .greeting-button {
    display: none;
  }
}

.header {
  height: 190px;
}


