<div class="header">
<md-toolbar color="primary" class="app-navbar">

<div class="right">
  <a href="https://www.facebook.com/PraDeJewels/"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
    <button *ngIf="!hasSignedIn()" routerLink="/signup" md-button md-ripple>
      <span>Register</span>
    </button>
    <button *ngIf="!hasSignedIn()" routerLink="/login" md-button md-ripple>
      <span>Login</span>
    </button>
    <button class="greeting-button" *ngIf="hasSignedIn()" md-button md-ripple>
      <span>Hello, {{userName()}}</span>
    </button>
    <button *ngIf="hasSignedIn()" [routerLink]="['/login']" (click)="logout()" md-button md-ripple>
      <span>Logout</span>
    </button>
  </div>
</md-toolbar>

<div class="prade-logo">
    <img alt="PraDé" class="app-angular-logo" routerLink="/" src="assets/image/imageedit_2_3864744953.png">
</div>
<md-toolbar color="primary" class="app-navbar">
<div class="left" style="margin-left:25%;" *ngIf="isAdmin()">
    <button  [routerLink]="['/admin']" md-button md-ripple>
      <span>HOME</span>
    </button>
    <button  [routerLink]="['/admin/product']" md-button md-ripple>
      <span>CREATE PRODUCT</span>
    </button>
    <button  routerLink="/admin/search" md-button md-ripple>
      <span>UPDATE PRODUCT</span>
    </button>
    <button  routerLink="/admin/search" md-button md-ripple>
      <span>SEARCH PRODUCTS</span>
    </button>
    <button (click)="exportProducts()" md-button md-ripple>
      <span>EXPORT PRODUCTS</span>
    </button>
    
  </div>
  <div class="left" id="myTopnav" style="background-color:black;width:100%;text-align: center;" *ngIf="!isAdmin()">
    <button  routerLink="/" class="menu" hide-gt-sm md-button md-ripple>
      <span>HOME</span>
    </button>
    <div class="dropdown">
    <button  routerLink="/" md-button md-ripple>
      <span>SILVER</span>
    </button>
    <div class="dropdown-content">
      <a href="#" routerLink="/product/type/Earrings/metal/Silver">Earrings</a>
      <a href="#" routerLink="/product/type/Rings/metal/Silver">Rings</a>
      <a href="#" routerLink="/product/type/Bangles/metal/Silver">Bangles</a>
      <a href="#" routerLink="/product/type/Others/metal/Silver">Others</a>
  </div>
    </div>
    <div class="dropdown">
    <button  routerLink="/" md-button md-ripple>
      <span>AFGHANI SILVER</span>
    </button>
    <div class="dropdown-content">
      <a href="#" routerLink="/product/type/Earrings/metal/Afghani Silver">Earrings</a>
      <a href="#" routerLink="/product/type/Rings/metal/Afghani Silver">Rings</a>
      <a href="#" routerLink="/product/type/Bangles/metal/Afghani Silver">Bangles</a>
      <a href="#" routerLink="/product/type/Others/metal/Afghani Silver">Others</a>
  </div>
    </div>
    
    <div class="dropdown">
    <button  routerLink="/" md-button md-ripple>
      <span>ANTIQUE SILVER</span>
    </button>
    <div class="dropdown-content">
      <a href="#" routerLink="/product/type/Earrings/metal/Antique Silver">Earrings</a>
      <a href="#" routerLink="/product/type/Rings/metal/Antique Silver">Rings</a>
      <a href="#" routerLink="/product/type/Bangles/metal/Antique Silver">Bangles</a>
      <a href="#" routerLink="/product/type/Others/metal/Antique Silver">Others</a>
  </div>
    </div>
    <button md-button md-ripple>
      <span>GALLERY</span>
    </button>
    <button md-button md-ripple (click)="openContactUsModal()">
      <span>CONTACT US</span>
    </button>
    </div>
</md-toolbar>
</div>