<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BRIDAL JEWELLERY <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/product/type/Earrings/metal/Bridal Jewellery">Earrings</a></li>
            <li><a href="#" routerLink="/product/type/Rings/metal/Bridal Jewellery">Rings</a></li>
            <li><a href="#" routerLink="/product/type/Bangles/metal/Bridal Jewellery">Bangles</a></li>
            <li><a href="#" routerLink="/product/type/Neckpiece/metal/Bridal Jewellery">Neckpieces</a></li>
            <li><a href="#" routerLink="/product/type/Others/metal/Bridal Jewellery">Others</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OXIDIZED SILVER <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/product/type/Earrings/metal/Oxidized Silver">Earrings</a></li>
            <li><a href="#" routerLink="/product/type/Rings/metal/Oxidized Silver">Rings</a></li>
            <li><a href="#" routerLink="/product/type/Bangles/metal/Oxidized Silver">Bangles</a></li>
            <li><a href="#" routerLink="/product/type/Neckpiece/metal/Oxidized Silver">Neckpieces</a></li>
            <li><a href="#" routerLink="/product/type/Others/metal/Oxidized Silver">Others</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DESIGNER SILVER <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/product/type/Earrings/metal/Designer Silver">Earrings</a></li>
            <li><a href="#" routerLink="/product/type/Rings/metal/Designer Silver">Rings</a></li>
            <li><a href="#" routerLink="/product/type/Bangles/metal/Designer Silver">Bangles</a></li>
            <li><a href="#" routerLink="/product/type/Neckpiece/metal/Designer Silver">Neckpieces</a></li>
            <li><a href="#" routerLink="/product/type/Others/metal/Designer Silver">Others</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ANTIQUE SILVER <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/product/type/Earrings/metal/Antique Silver">Earrings</a></li>
            <li><a href="#" routerLink="/product/type/Rings/metal/Antique Silver">Rings</a></li>
            <li><a href="#" routerLink="/product/type/Bangles/metal/Antique Silver">Bangles</a></li>
            <li><a href="#" routerLink="/product/type/Neckpiece/metal/Antique Silver">Neckpieces</a></li>
            <li><a href="#" routerLink="/product/type/Others/metal/Antique Silver">Others</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AFGHANI JEWELLERY <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" routerLink="/product/type/Earrings/metal/Afghani Jewellery">Earrings</a></li>
            <li><a href="#" routerLink="/product/type/Rings/metal/Afghani Jewellery">Rings</a></li>
            <li><a href="#" routerLink="/product/type/Bangles/metal/Afghani Jewellery">Bangles</a></li>
            <li><a href="#" routerLink="/product/type/Neckpiece/metal/Afghani Silver">Neckpieces</a></li>
            <li><a href="#" routerLink="/product/type/Others/metal/Afghani Jewellery">Others</a></li>
          </ul>
        </li>
        <li><a href="/gallery">GALLERY</a></li>
        <li><a (click)="openContactUsModal()">CONTACT US</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>