#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

#left, #right { 
    margin: 30px;
}

@media screen and (max-width:600px) {
    .carousel-wrapper {
        display: none;
}
}