<div class="carousel-wrapper">
  <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide.image"  class="img-responsive">
  </slide>
</carousel>
</div>
<div class="message">{{ message }}</div>
<div class="grid"  layout="horizontal" layout-align="center center" style="flex-wrap:wrap;">
<div *ngFor="let product of products" style="width:350px;margin-top:15px;border:solid; margin-right:15px;">
  
<md-card>
  <a [href]="product.image" data-fancybox="{clickContent : 'false'}" [attr.data-caption]="product.name">
    <img md-card-image [src]="product.image">
  </a>
  <md-card-content>
    <p>
      {{product.name}}
    </p>
    <hr>
    <p>
      {{product.description}}
    </p>
    <button type="button" (click)="openGetQuoteModal(product.id)" md-raised-button color="primary" style="margin-left:200px;">Get Quote</button>
  </md-card-content>
</md-card>

</div>
</div>